/* .jsx-1627499814 {
    color: #fff;
}

.eapp-vimeo-gallery-header-content-countersItem:after {
    background-color: #fff;
}

.eapp-vimeo-gallery-info-name,
.eapp-vimeo-gallery-info-time {
    color: #fff;
}

.jsx-3311501620,
.jsx-3311501620 svg,
.eapp-vimeo-gallery-navigation-arrow-icon{
filter: brightness(0) invert(1);
}

.eapp-vimeo-gallery-slider-videos .eapp-vimeo-gallery-navigation-arrow {
    background-color: #3a3a3a;
}

.eapp-vimeo-gallery-info-text,
.eapp-vimeo-gallery-read-more-button {
    color: #fff;
} rgb(0, 173, 239) */
