<div class="about-section">
  <div class="glass">
    <div class="heading">ABOUT ME</div>
    <div class="about-child">
      <div class="icon center-justify">
        <i class="material-icons flex-center">star</i>
        <i class="material-icons flex-center">star</i>
        <i class="material-icons flex-center">star</i>
        <i class="material-icons flex-center">star</i>
        <i class="material-icons flex-center">star</i>
      </div>
    </div>
    <div class="description">
      <p>
        Atari studio established to make your dream come true. all kind of
        videos in one place, from promotional videos to beauty and fashion.
      </p>
    </div>
  </div>
</div>
