<div class="about-section">
  <div class="heading section-child">ABOUT ME</div>
  <div class="childs">
    <div class="about-child section-child">
      <div class="icon center-justify">
        <i class="material-icons flex-center">star</i>
      </div>
      <h3>Skills</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi
        dolorem placeat iure? Ipsa labore corrupti eius, quibusdam rerum
        possimus, inventore earum dolores est numquam minima aliquam, eum nobis
        voluptate?
      </p>
    </div>
    <div class="about-child">
      <div class="icon center-justify">
        <i class="material-icons flex-center">star</i>
      </div>
      <h3>Personal goals</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi
        dolorem placeat iure? Ipsa labore corrupti eius, quibusdam rerum
        possimus, inventore earum dolores est numquam minima aliquam, eum nobis
        voluptate?
      </p>
    </div>
    <div class="about-child">
      <div class="icon center-justify">
        <i class="material-icons flex-center">star</i>
      </div>
      <h3>Accomplishments</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae sequi
        dolorem placeat iure? Ipsa labore corrupti eius, quibusdam rerum
        possimus, inventore earum dolores est numquam minima aliquam, eum nobis
        voluptate?
      </p>
    </div>
  </div>
</div>
