<ul class="social section-child">
  <li class="link-box">
    <a href="" class="icon-box flex-center"
      ><i class="fa-brands fa-facebook-f"></i
    ></a>
  </li>
  <li class="link-box">
    <a href="" class="icon-box flex-center"
      ><i class="fa-brands fa-twitter"></i
    ></a>
  </li>
  <li class="link-box">
    <a href="" class="icon-box flex-center"
      ><i class="fa-brands fa-instagram"></i
    ></a>
  </li>
  <li class="link-box">
    <a href="" class="icon-box flex-center"><i class="fa-solid fa-rss"></i></a>
  </li>
  <li class="link-box">
    <a href="" class="icon-box flex-center"
      ><i class="fa-brands fa-tumblr"></i
    ></a>
  </li>
  <li class="link-box">
    <a href="" class="icon-box flex-center"
      ><i class="fa-brands fa-google"></i
    ></a>
  </li>
  <li class="link-box">
    <a href="" class="icon-box flex-center"
      ><i class="fa-brands fa-dribbble"></i
    ></a>
  </li>
  <li class="link-box">
    <a href="" class="icon-box flex-center"
      ><i class="fa-brands fa-linkedin-in"></i
    ></a>
  </li>
</ul>
